<div class="bg-[#013B5B] h-full flex justify-center items-center">
    <div class="relative mx-auto w-full max-w-md bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 sm:rounded-xl sm:px-10">
        <div class="w-full">
            <div class="text-center">
                <h1 class="text-3xl font-semibold text-gray-900">Se connecter</h1>
                <p class="mt-2 text-gray-500">Connectez-vous pour acceder à votre compte</p>
            </div>
            <div class="mt-5">
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="relative mt-6">
                        <input type="email" formControlName="email" id="email" placeholder="Email Address" class="peer mt-1 w-full border-b-2 border-gray-300 px-0 py-1 placeholder:text-transparent focus:border-gray-500 focus:outline-none" autocomplete="NA" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"/>
                        <label for="email" class="pointer-events-none absolute top-0 left-0 origin-left -translate-y-1/2 transform text-sm text-gray-800 opacity-75 transition-all duration-100 ease-in-out peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-focus:top-0 peer-focus:pl-0 peer-focus:text-sm peer-focus:text-gray-800">Adresse e-mail</label>
                    </div>
                    <div *ngIf="submitted && f['email'].errors || f['email'].invalid && f['email'].touched || f['email'].dirty">
                        <span class="text-red-600 pt-3" *ngIf="f['email'].errors?.['required']">* Adresse e-mail requise</span>
                        <span class="text-red-600 pt-3" *ngIf="f['email'].errors?.['email'] && f['email'].touched">* Doit être une adresse e-mail</span>
                    </div>
                    <span class="text-red-600 pt-3" *ngIf="notLogged">* Email ou mot de passe incorrect</span>
                    <div class="relative mt-6">
                        <input type="password" formControlName="password" id="password" placeholder="Password" class="peer peer mt-1 w-full border-b-2 border-gray-300 px-0 py-1 placeholder:text-transparent focus:border-gray-500 focus:outline-none" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"/>
                        <label for="password" class="pointer-events-none absolute top-0 left-0 origin-left -translate-y-1/2 transform text-sm text-gray-800 opacity-75 transition-all duration-100 ease-in-out peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-focus:top-0 peer-focus:pl-0 peer-focus:text-sm peer-focus:text-gray-800">Mot de passe</label>
                    </div>
                    <div  *ngIf="submitted && f['password'].errors || f['password'].invalid && f['password'].touched || f['password'].dirty" class="invalid-feedback">
                        <span class="text-red-600 pt-3" *ngIf="f['password'].errors?.['required']">* Mot de passe requis</span>
                    </div>
                    <span class="text-red-600 pt-3" *ngIf="notLogged">* Email ou mot de passe incorrect</span>
                    <div class="my-6">
                        <button type="submit" class="w-full rounded-md bg-[#013B5B] px-3 py-4 text-white hover:bg-gray-700 duration-300 transition-all focus:outline-none">Se connecter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
